/*
Step 1:
  - Create a variable for width and height.
  - Replace width and height property values with variable
Step 2:
  - Create a variable for width and height.
  - Replace width and height property values with variable
  
*/




.Tiles-one{
  display: inline-block;
  margin: 4px;
  width: 100px;
  height: 100px;
  background: red; 
}
.Tiles-two{
  display: inline-block;
  margin: 4px;
  width: 100px;
  height: 100px;
  background: red; 
}
.Tiles-three{
  display: inline-block;
  margin: 4px;
  width: 100px;
  height: 100px;
  background: red; 
}
.Tiles-four{
  display: inline-block;
  margin: 4px;
  width: 100px;
  height: 100px;
  background: red; 
}
.Tiles-five{
  display: inline-block;
  margin: 4px;
  width: 100px;
  height: 100px;
  background: red; 
}
.Tiles-six{
  display: inline-block;
  margin: 4px;
  width: 100px;
  height: 100px;
  background: red; 
}